$bug-details: black;
$max-gradient: linear-gradient(to bottom left, #404040 0%, #000000 100%);
$lesser-gradient: linear-gradient(to bottom left, #808080 0%, #000000 100%);

%center-center {
  justify-content: center;
  align-items: center;
}

%antennae {
  display: flex;
  flex-direction: row;
}

@mixin size-display($height, $width, $display) {
  height: $height;
  width: $width;
  display: $display;
}

@mixin antennae-appearance($l-margin, $r-margin, $background-color, $transform) {
  margin-left: $l-margin;
  margin-right: $r-margin;
  background: $background-color;
  transform: $transform;
}

@mixin transform-border($transform, $border-radius) {
  transform: $transform;
  border-radius: $border-radius;
}

.antennae-dot-container {
  @extend %antennae;
}
.App {
  @extend %center-center;
  @include size-display(100vh, 100vw, flex);
  flex-direction: column;
}

.antennae-dot {
  @include size-display(2vh, 1.5vw, block);
  @include antennae-appearance(1vh, 1vh, $max-gradient, translateY(6%));
  border-radius: 50%;
}

.antennae-container {
  @extend %antennae;
}

.antennae {
  @include size-display(6vh, 0.25vw, block);
  @include antennae-appearance(2vh, 2vh, $bug-details, translateY(2%));
}

.bug-head {
  @include size-display(9vh, 10vw, flex);
  border-radius: 50%;
  background: $lesser-gradient;
}

.body-space {
  @extend %antennae;
  align-items: center;
  align-content: space-around;
}

.left-leg-container, .right-leg-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 15vh;
  transform: translateY(-20%);
}

.left-leg {
  @include size-display(1vh, 2.5vw, block);
  @include transform-border(translateX(60%), 50%);
  background-color: $bug-details;
}

.right-leg {
  @include size-display(1vh, 2.5vw, block);
  @include transform-border(translateX(-60%), 50%);
  background: $lesser-gradient;
  z-index: 0;
}

.bug-body {
  @extend %center-center;
  @include size-display(35vh, 25vw, flex);
  @include transform-border(translateY(-10%), 50%);
  background: linear-gradient(to bottom left, #ff0000 0%, #800000 100%);
  z-index: 1;
}

.vertical-line {
  @include size-display(100%, 0.25vw, block);
  background-color: $bug-details;
  z-index: 2;
}

.spot-container {
  @include size-display(25vh, 10vw, flex);
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.spot {
  @include size-display(3.5vh, 2.5vw, flex);
  border-radius: 50%;
  background: $max-gradient;
}
