$bug-details: black;

%center-center {
  justify-content: center;
  align-items: center;
}

%antennae {
  display: flex;
  flex-direction: row;
}

@mixin size-display($height, $width, $display) {
  height: $height;
  width: $width;
  display: $display;
}

@mixin antennae-appearance($l-margin, $r-margin, $background-color, $transform) {
  margin-left: $l-margin;
  margin-right: $r-margin;
  background-color: $background-color;
  transform: $transform;
}

.antennae-dot-container {
  @extend %antennae;
}
.App {
  @extend %center-center;
  @include size-display(100vh, 100vw, flex);
  flex-direction: column;
}

.antennae-dot {
  @include size-display(2vh, 1.5vw, block);
  @include antennae-appearance(1vh, 1vh, $bug-details, translateY(6%));
  border-radius: 50%;
}

.antennae-container {
  @extend %antennae;
}

.antennae {
  @include size-display(7vh, 0.25vw, block);
  @include antennae-appearance(2vh, 2vh, $bug-details, translateY(2%));
}

.bug-head {
  @include size-display(9vh, 10vw, flex);
  border-radius: 50%;
  background-color: $bug-details;
}

.body-space {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-around;
}

.leg-space {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 15vh;
  transform: translateY(-20%);
}

.left-leg {
  @include size-display(0.5vh, 3.5vw, block);
  background-color: $bug-details;
  transform: translateX(40%);
}

.right-leg {
  @include size-display(0.5vh, 3.5vw, block);
  background-color: $bug-details;
  transform: translateX(-40%);
  z-index: 0;
}

.bug-body {
  @extend %center-center;
  @include size-display(35vh, 25vw, flex);
  background-color: rgb(235, 64, 52);
  border-radius: 50%;
  transform: translateY(-10%);
  z-index: 1;
}

.vertical-line {
  @include size-display(100%, 0.5vw, block);
  background-color: $bug-details;
}

.side {
  @include size-display(25vh, 10vw, flex);
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.spot {
  @include size-display(3.5vh, 2.5vw, flex);
  border-radius: 50%;
  background-color: $bug-details;
}
